@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mono;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "IBMPlexSansKR-Regular", sans-serif;
  font-weight: 700;
}

:root {
  --main-color: #f3e98c;
  --background-color: #000000;
}
